$app-bg-color: #000;
$app-color: #ddd;

$text-faded: #555;
$text-highlighted: #ff69b4; // Same as hotpink.

$card-bg-color-primary: #030303;
$card-bg-color-secondary: #000;

$weather-card-bg-color-primary: $card-bg-color-primary;
$weather-card-bg-color-secondary: $card-bg-color-secondary;
$weather-card-border-color: #191919;

$expanded-card-bg-color-primary: $card-bg-color-primary;
$expanded-card-bg-color-secondary: $card-bg-color-secondary;

$opacity-values: (
  1: 1,
  2: 0.8,
  3: 0.6,
  4: 0.4,
  5: 0.2
);
