$app-bg-color: #000;
$app-color: #fff;

$card-bg-color-primary: #191919;
$card-bg-color-secondary: #0f0f0f;

$weather-card-bg-color-primary: $card-bg-color-primary;
$weather-card-bg-color-secondary: $card-bg-color-secondary;

$expanded-card-bg-color-primary: $card-bg-color-primary;
$expanded-card-bg-color-secondary: $card-bg-color-secondary;
