@import 'breakpoint';
@import 'variables';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .container {
    flex: 1 0 auto;
    width: 90%;
    margin: auto;

    @include breakpoint(tablet) {
      width: 90%;
    }

    @include breakpoint(laptop) {
      width: 85%;
    }

    @include breakpoint(desktop) {
      width: 80%;
      max-width: 1200px;
    }

    header.app-brand {
      width: 100%;
      color: $app-color;
      font-family: 'Cookie', 'Satisfy', 'Ubuntu', 'Roboto', sans-serif;
      font-size: 2rem;
      text-align: center;

      @include breakpoint(tablet) {
        font-size: 3rem;
      }

      @include breakpoint(laptop) {
        margin-top: 0.2rem;
      }
    }
  }
}
