@import 'breakpoint';
@import 'variables';

@mixin linear-gradient($deg, $primary-color, $secondary-color) {
  background-image: linear-gradient($deg, $primary-color, $secondary-color);
  background-image: -moz-linear-gradient($deg, $primary-color, $secondary-color);
  background-image: -webkit-linear-gradient($deg, $primary-color, $secondary-color);
  background-image: -o-linear-gradient($deg, $primary-color, $secondary-color);
}

@mixin box-shadow($args...) {
  box-shadow: $args;
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
}

.expanded-weather-card {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-row-gap: 0.6rem;
  grid-template-areas:
    "date                                       time"
    "current-temperature       location-and-forecast"
    "hourly-forecast-section hourly-forecast-section"
    "summary                                 summary"
    "weather-animation-frame weather-animation-frame"
    "daily-forecast-section   daily-forecast-section";
  background-color: $expanded-card-bg-color-primary;
  color: $app-color;
  width: 100%;
  margin: 1.4rem 0;
  padding: 1rem;
  border-radius: 0.4rem;
  border: solid $weather-card-border-color;

  @include linear-gradient(300deg, $expanded-card-bg-color-primary 50%, $expanded-card-bg-color-secondary 50%);

  @include breakpoint(tablet) {
    padding: 1.6rem;
  }

  @include breakpoint(laptop) {
    @include linear-gradient(150deg, $expanded-card-bg-color-secondary 50%, $expanded-card-bg-color-primary 50%);

    grid-row-gap: 0;
    grid-auto-rows: unset;
    grid-auto-columns: unset;
    grid-template-columns: 3fr 7fr 3fr 3.5fr 3.5fr;
    grid-template-rows: 0.25fr 1fr 0.75fr 2fr 1fr;
    grid-template-areas:
      ".                          .                          . date                   time"
      "current-temperature        hourly-forecast-section    . location-and-forecast  animated-weather-icon"
      "summary                    summary                    . daily-forecast-section daily-forecast-section"
      "weather-animation-frame    weather-animation-frame    . daily-forecast-section daily-forecast-section"
      "weather-attributes-section weather-attributes-section . daily-forecast-section daily-forecast-section";
    margin: 2.4rem 0;
    padding: 3rem;
  }

  .date {
    grid-area: date;
    font-size: 1rem;

    @include breakpoint(tablet) {
      font-size: 1.3rem;
    }

    @include breakpoint(laptop) {
      font-size: 0.9rem;
      justify-self: start;
      grid-row: 1;
    }

    span {
      padding-bottom: 0.5rem;
      border-bottom: 0.2rem solid $app-color;
    }
  }

  .time {
    grid-area: time;
    font-size: 1.1rem;
    justify-self: end;

    @include breakpoint(tablet) {
      font-size: 1.6rem;
    }

    @include breakpoint(laptop) {
      font-size: 1rem;
      grid-row: 1;
    }

    .time-modifier {
      font-size: 0.8rem;

      @include breakpoint(tablet) {
        font-size: 1.1rem;
      }

      @include breakpoint(laptop) {
        font-size: 0.7rem;
      }
    }
  }

  .current-temperature {
    grid-area: current-temperature;
    align-self: end;
    font-size: 4rem;
    line-height: 1;
    margin: 1.2rem 0 0.8rem 0;

    @include breakpoint(tablet) {
      font-size: 6rem;
      margin: 0.9rem 0 0.6rem 0;
    }

    @include breakpoint(laptop) {
      font-size: 5.3rem;
      margin: 0 0 0.4rem 0;
      align-self: center;
    }
  }

  .location-and-forecast {
    grid-area: location-and-forecast;
    justify-self: end;
    align-self: end;
    margin: 1.2rem 0 0.8rem 0;

    @include breakpoint(tablet) {
      margin: 0.9rem 0 0.6rem 0;
    }

    @include breakpoint(laptop) {
      justify-self: start;
      align-self: center;
      margin: 0;
    }

    .location {
      font-size: 0.99rem;
      text-align: right;
      line-height: 1.15;

      @include breakpoint(tablet) {
        font-size: 1.5rem;
      }

      @include breakpoint(laptop) {
        text-align: left;
        font-size: 0.99rem;
      }
    }

    .forecast {
      font-size: 0.8rem;
      text-align: right;

      @include breakpoint(tablet) {
        font-size: 1.2rem;
      }

      @include breakpoint(laptop) {
        text-align: left;
        font-size: 0.65rem;
      }
    }
  }

  .hourly-forecast-section {
    grid-area: hourly-forecast-section;
    display: flex;
    justify-content: space-between;

    @include breakpoint(laptop) {
      justify-content: space-evenly;
      align-self: center;

      @each $key, $value in $opacity-values {
        div:nth-child(#{$key}) {
          opacity: #{$value};
        }
      }
    }

    .hourly-forecast {
      text-align: center;
      line-height: 1.2;

      @include breakpoint(tablet) {
        line-height: 1.25;
        margin: 0.5rem 0;
      }

      @include breakpoint(laptop) {
        line-height: 1.15;
      }

      .time {
        font-size: 0.8rem;

        @include breakpoint(tablet) {
          font-size: 1rem;
        }

        @include breakpoint(laptop) {
          font-size: 0.8rem;
        }
      }

      .temperature {
        font-size: 1.8rem;

        @include breakpoint(tablet) {
          font-size: 2.4rem;
        }

        @include breakpoint(laptop) {
          font-size: 1.8rem;
        }
      }

      .precipitation {
        font-size: 0.8rem;
        min-width: 2rem;

        @include breakpoint(tablet) {
          font-size: 1rem;
          min-width: 3rem;
        }

        @include breakpoint(laptop) {
          font-size: 0.8rem;
        }

        img {
          max-width: 0.93rem;

          @include breakpoint(tablet) {
            max-width: 1.2rem;
          }

          @include breakpoint(laptop) {
            max-width: 0.93rem;
          }
        }
      }
    }
  }

  .animated-weather-icon {
    display: none;
    grid-area: animated-weather-icon;
    justify-self: end;
    align-self: center;
    font-size: 2.6rem;

    canvas {
      margin-top: 1rem;
    }

    @include breakpoint(laptop) {
      display: unset;
    }
  }

  .summary {
    grid-area: summary;
    font-size: 1.2rem;
    justify-self: center;
    margin: 0.6rem 0;
    text-align: center;

    @include breakpoint(tablet) {
      font-size: 1.8rem;
      margin: 0.75rem 0 0.9rem 0;
    }

    @include breakpoint(laptop) {
      font-size: 1.3rem;
      align-self: center;
      margin: 0;
    }
  }

  .weather-animation-frame {
    grid-area: weather-animation-frame;

    hr {
      border-radius: 30px;
      height: 30px;
    }

    .top {
      border-width: 1px 0 0 0;

      &::before {
        content: '\201C';
        font-family: 'Cookie', monospace;
        font-size: 8rem;
        line-height: 0.8;
        opacity: 0.5;
      }
    }

    .bottom {
      border-width: 0 0 1px 0;

      &::before {
        content: '\201D';
        font-family: 'Cookie', monospace;
        font-size: 8rem;
        line-height: 0.6;
        float: right;
        opacity: 0.5;
      }
    }

    blockquote {
      p {
        font-size: 1.45rem;
        font-family: 'Poor Story', monospace;
        font-style: italic;
        text-align: center;
      }
    }

    @include breakpoint(laptop) {
      margin-top: 1rem;
      min-height: 90%;
    }
  }

  .daily-forecast-section {
    grid-area: daily-forecast-section;
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;

    .daily-forecast {
      display: grid;
      grid-template-columns: 2fr 3fr 3fr;
      grid-template-areas: "icon-day . temperature-precipitation";
      padding: 0.5rem 0;
      border-top: 2px solid darken($app-color, 75%);

      .daily-forecast-icon-day-container {
        grid-area: icon-day;
        display: flex;
        justify-content: center;

        @include breakpoint(tablet) {
          justify-content: flex-start;
        }

        .daily-forecast-icon-day {
          min-width: 4rem;
          text-align: center;

          @include breakpoint(tablet) {
            min-width: 6rem;
          }

          .daily-forecast-icon {
            font-size: 1.8rem;

            @include breakpoint(tablet) {
              font-size: 2.1rem;
            }

            @include breakpoint(laptop) {
              font-size: 1.8rem;
            }
          }

          .daily-forecast-day {
            font-size: 0.8rem;

            @include breakpoint(tablet) {
              font-size: 1rem;
            }

            @include breakpoint(laptop) {
              font-size: 0.8rem;
            }
          }
        }
      }

      .daily-forecast-temperature-precipitation {
        grid-area: temperature-precipitation;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: right;

        .daily-forecast-temperature {
          font-size: 1.6rem;

          @include breakpoint(tablet) {
            font-size: 2rem;
          }

          @include breakpoint(laptop) {
            font-size: 1.6rem;
          }
        }

        .daily-forecast-precipitation {
          font-size: 0.8rem;

          @include breakpoint(tablet) {
            font-size: 1rem;
          }

          @include breakpoint(laptop) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .weather-attributes-section {
    display: none;
    grid-area: weather-attributes-section;

    @include breakpoint(laptop) {
      display: flex;
      justify-content: space-evenly;
      align-self: center;
    }

    .weather-attribute {
      text-align: center;
      line-height: 1.5;

      .attribute-icon img {
        max-width: 1.8rem;
        max-height: 1.8rem;
        margin: 0.3rem;
      }

      .attribute-name {
        font-size: 0.8rem;
      }

      .attribute-value {
        font-size: 0.7rem;
      }
    }
  }
}
