@import 'variables';

footer {
  flex-shrink: 0;
  color: $text-faded;
  width: 100%;
  text-align: center;
  line-height: 1.15;
  font-size: 0.8rem;

  a {
    color: $text-faded;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: $text-highlighted;
  }

  button {
    color: $text-faded;
    background-color: $app-bg-color;
    border: none;
  }

  button:hover,
  button:focus {
    color: $text-highlighted;
  }

  .authors {
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 0.3rem 0;

    .icon {
      color: $text-highlighted;
    }
  }
}
