@import 'variables';

* {
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-card-body {
  padding: 0;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: $app-bg-color;
  color: $app-color;
}

#root {
  min-height: 100vh;
}
