.topbar-brand {
  color: white;
  font-family: 'Cookie, Satisfy';
  font-size: 40px;
  text-align: center;
}

.ant-layout-header {
  height: 100%;
}

.topbar-setting {
  text-align: end;
}

.topbar-setting, .ant-btn {
  border: none;
}

.ant-select-auto-complete {
  width: 70%;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: none;
}