@import 'breakpoint';
@import 'variables';

.weather-card {
  background-color: $weather-card-bg-color-primary;
  color: $app-color;
  max-width: 32rem;
  width: 100%;
  border-radius: 0.4rem;
  border: solid $weather-card-border-color;
  margin: 1rem auto;
  padding: 1rem;

  @include breakpoint(phablet) {
    width: 80%;
  }

  @include breakpoint(tablet) {
    width: 70%;
  }

  .date-and-weather-icon {
    display: flex;
    justify-content: space-between;
    line-height: 1;

    .date {
      font-size: 1rem;
      border-bottom: 0.2rem solid $app-color;
    }
  }

  .current-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;

    .temperature {
      font-size: 4rem;
      line-height: 1;
    }

    .location-and-info {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .location {
        font-size: 1rem;
      }

      .info {
        font-size: 0.8rem;
      }
    }
  }
}
