@import 'variables';

.weather-cards-section {
  background-color: $app-bg-color;
  color: $app-color;
  width: 100%;
  margin: 1.4rem 0;

  h3.no-weather-cards {
    color: $app-color;
    text-align: center;
    font-family: 'Satisfy', 'Cookie', 'Ubuntu', 'Roboto', sans-serif;
    font-size: 1.5rem;
  }
}
